# =========================
# Files in bin folders
# =========================
**/[Bb]in/*

# =========================
# Value Converters
# =========================
BuildPackage/artifacts/*
BuildPackage/Package/*

# =========================
# Umbraco
# =========================
**/App_Data/umbraco.config
**/App_Data/preview/*.config
**/App_Data/TEMP/ClientDependency/
**/App_Data/TEMP/DistCache/
**/App_Data/TEMP/ExamineIndexes/
**/App_Data/TEMP/PluginCache/*
**/App_Data/TEMP/SEOChecker/
**/App_Data/TEMP/Razor/
**/App_Data/umbraco.licensing.log.txt
**/aspnet_client/
**/App_Data/*.udt
**/App_Data/NuGetBackup/*
**/App_Data/Logs/*
**/Media/*
# =========================
# ImageProcessor DiskCache
# =========================
**/App_Data/cache/*

# =========================
#Grunt, Sass & Bower
# =========================
**/node_modules
**/node_modules/*
**/.sass-cache
**/.sass-cache/*
**/bower_components
**/bower_components/*
**/lib/*
**/css/lib/*
**/scripts/lib/*
**/css/main.css
**/css/main.css.map

**/dist/


# Ignore Umbraco content cache file
!**/App_Data/umbraco.config
!**/App_Data/umbraco.sdf

# Don't ignore Umbraco packages (VisualStudio.gitignore mistakes this for a NuGet packages folder)
# Make sure to include details from VisualStudio.gitignore BEFORE this
!**/App_Data/[Pp]ackages/
!**/[Uu]mbraco/[Dd]eveloper/[Pp]ackages
/Backup
/Marc.Web-2.0/.vs/Marc.Web-2.0/v16
/Marc.Web-2.0/App_Data/TEMP/Install/install_6f9a21645aa946a1812d9b664eb6d42b.txt
/Marc.Web-2.0/App_Data/TEMP
/Marc.Web-2.0/obj/Debug
*.user
/root/.vs/MarcBachraty
/root/App_Data/TEMP/Install
/root/obj/Debug
/root/packages
/root/App_Data/Umbraco0.sdf
/root/App_Data/Umbraco.sdf
/root/App_Data/umbraco.config
/root/App_Data/Umbraco - Copy.sdf
/Marc.Web-2.0/App_Data/Umbraco.sdf
