﻿@using System.Globalization
@using YouTube.Models
@inherits UmbracoTemplatePage
@{
    Layout = "umbLayout.cshtml";

    // If the editor has not explicitly provided the "Page title" property page
    // then just show the name of the page otherwise show the provided title
    var pageTitle = string.IsNullOrWhiteSpace(CurrentPage.Title)
        ? CurrentPage.Name
        : CurrentPage.Title;
    

   
}
	@{ Html.RenderPartial("_banner"); }


<!-- Main -->
<div id="main">
    <div class="container">
        <div class="row">

            <!-- Content -->
            <div id="content" class="8u skel-cell-important">
                <section>
                    <header>
                        <h2>@pageTitle</h2>
                       @if (CurrentPage.Ancestors().Any())
                       {
                        <ul class="breadcrumb">
                            @* For each page in the ancestors collection which have been ordered by Level (so we start with the highest top node first) *@
                            @foreach (var page in CurrentPage.Ancestors().OrderBy("Level"))
                            {
                                <li><a href="@page.Url">@page.Name</a> <span class="divider">/</span></li>
                            }
                            @* Display the current page as the last item in the list *@
                            <li class="active">@CurrentPage.Name</li>
                        </ul>
                       }
                        <span class="byline">@CurrentPage.byline</span>
                       
                      
                    </header>
                   
                   
                    
                        @CurrentPage.bodyText
                       
</section>
                    </div>
            <!-- Sidebar -->
            <div id="sidebar" class="4u">
                <section>
                    <header>
                        <h2>Videos</h2>
                    </header>
                    <div class="row">
                        <section class="6u">
                            <ul class="default">
                                @foreach (var typedVideo in Model.Content.GetPropertyValue<YouTube>("youtubeChannel"))
                                {
                                    <li>
                                        @Html.Raw(typedVideo.Player.EmbedHtml)<br/>
                                       @typedVideo.Snippet.Title, Views: @typedVideo.Statistics.ViewCount
                                   
                                </li>
                                }
                                </ul></section>
                    </div>
                </section>

            </div>
            

        </div>
    </div>
</div>
<!-- /Main -->