@inherits UmbracoTemplatePage
<style>
   
    
</style>


<script language="javascript" type="text/javascript">
    $.getJSON("/Umbraco/Api/FB/GetGroupFeed", function (data) {
        if ($(data) !== null) {
            $('#content').append('<div class="slider responsive">');
            $(data).each(function(index, item) {
                $('.responsive').append('<div class="responsive-container"><a style="background-clip: content-box;background-image: url(' + item.MediaUrl + ');' +
                    'background-size: 30%;background-repeat: no-repeat;background-position: 50% 50%;" target="' + item.link.target + '" href="' + item.link.href + '">' +
                    '<div class="bannerbg" style="background-image: url(/images/assets/' + item.TypeOfContent + '.png);"></div><div>' +
                    '<div class="banner-text"><h3>' + item.title + '</h3><span class="footer">' + item.published + '</span></div></div></a></div>');
            });
            $('.slider').slick({
                dots: false,
                //infinite: false,
                speed: 600,
                slidesToShow: 3,
                slidesToScroll: 2,
                autoplay: true,
                accessibility: true,
                infinite: true,
                //swipe: true,
                swipeToSlide: true,
                autoplaySpeed: 3000,
                cssEase: 'ease',
                pauseOnHover: true,
                swipe: true,
                touchMove: true,
                responsive: [
                    {
                        breakpoint: 1024,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2,
                            infinite: true,
                            dots: true
                        }
                    },
                    {
                        breakpoint: 600,
                        settings: {
                            slidesToShow: 2,
                            slidesToScroll: 2
                        }
                    },
                    {
                        breakpoint: 480,
                        settings: {
                            slidesToShow: 1,
                            slidesToScroll: 1
                        }
                    }

                ]
            });
        }
    });
</script>