﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var str = new Uri(Model.MacroParameters["youtubevideourl"].ToString());
    var width = Model.MacroParameters["youtubewidth"].ToString();
    <div class="youtubevideo">
       
        @if (str.AbsoluteUri.Contains("youtube"))
        {
            var movieCode = str.Query.Remove(0, 3);

            <div class="embed-container">
                <iframe width="" height="315" src="//www.youtube.com/embed/@movieCode" frameborder="0" allowfullscreen></iframe>               
            </div>

        }
        else
        {
            <p>@str is not a valid youtube link</p>

        }
    </div>
}
