<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <settings>
    <!-- Facebook Start -->
    <add key="FacebookAuthorizeEndpoint" value="https://graph.facebook.com/oauth/authorize?display=popup" />
    <add key="FacebookAccessTokenEndpoint" value="https://graph.facebook.com/oauth/access_token" />
    <add key="FacebookClientApiKey" value="" />
    <add key="FacebookClientSecret" value="" />
    <add key="FacebookPageUsernameOrId" value="" />
    <!-- Facebook End -->
    
    <!-- LinkedIn Start -->
    <add key="LinkedInAuthorizeEndpoint" value="https://www.linkedin.com/uas/oauth2/authorization" />
    <add key="LinkedInAccessTokenEndpoint" value="https://www.linkedin.com/uas/oauth2/accessToken" />
    <add key="LinkedInClientApiKey" value="" />
    <add key="LinkedInClientSecret" value="" />
    <!-- LinkedIn End -->
    
    <!-- Twitter Start -->
    <add key="TwitterClientApiKey" value="" />
    <add key="TwitterClientSecret" value="" />
    <add key="TwitterMaxStatusCharacters" value="140" />
    <add key="TwitterConfiguration_short_url_length" value="22" />
    <add key="TwitterConfiguration_short_url_length_https" value="23" />
    <!-- Twitter End -->
  </settings>
</configuration>